# 시리즈 만들기

In [5]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

0    banana
1        42
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [7]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [21]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],) 
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [19]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [23]:
f_r = scientists.loc['William Gosset']
print(type(f_r))

<class 'pandas.core.series.Series'>

In [25]:
print(f_r)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [29]:
print(f_r.index, '\n', f_r.values,'\n', f_r.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
 ['Statistician' '1876-06-13' '1937-10-16' 61]
 Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [31]:
print(f_r.index[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [35]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [37]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [41]:
s = pd.read_csv('../data/scientists.csv')

In [49]:
ages = s['Age']
print(ages.max())

90

In [53]:
print(ages[ages > ages.mean()])
print(ages > ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

# 시리즈와 브로드캐스팅

In [55]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [57]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [59]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [61]:
print(s[s['Age'] > s['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [63]:
print(s*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [73]:
print(s['Born'])

0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object

In [67]:
x = pd.to_datetime(s['Born'], format='%Y-%m-%d')
print(x)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [69]:
y = pd.to_datetime(s['Died'], format='%Y-%m-%d')
print(y)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [83]:
s['born_dt'],s['died_dt'] = (x,y)
print(s.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     doed_dt    doid_dt    died_dt
0 1958-04-16 1958-04-16 1958-04-16
1 1937-10-16 1937-10-16 1937-10-16
2 1910-08-13 1910-08-13 1910-08-13
3 1934-07-04 1934-07-04 1934-07-04
4 1964-04-14 1964-04-14 1964-04-14

In [85]:
s['age_days_dt'] = (s['died_dt'] - s['born_dt'])
print(s)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    doed_dt    doid_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16 1958-04-16 1958-04-16  13779 days
1 1876-06-13 1937-10-16 1937-10-16 1937-10-16  22404 days
2 1820-05-12 1910-08-13 1910-08-13 1910-08-13  32964 days
3 1867-11-07 1934-07-04 1934-07-04 1934-07-04  24345 days
4 1907-05-27 1964-04-14 1964-04-14 1964-04-14  20777 days
5 1813-03-15 1858-06-16 1858-06-16 1858-06-16  16529 days
6 1912-06-23 1954-06-07 1954-06-07 1954-06-07  15324 days
7 1777-04-30 1855-02-23 1855-02-23 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [113]:
import random as r

s = pd.read_csv('../data/scientists.csv')
s=s.copy()
pd.options.mode.chained_assignment = None  # default='warn'

r.seed(42)
r.shuffle(s['Age'])
print(s['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [119]:
print(s.columns)
s_d = s.drop(['Age'], axis=1)
print(s_d.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation'], dtype='object')

# 피클 형식으로 저장하기

In [123]:
names=s['Name']
names.to_pickle('../output/s_names_series.pickle')

In [125]:
x = pd.read_pickle('../output/s_names_series.pickle')
print(x)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [127]:
names.to_csv('../output/scientist_names_series.csv')
scientists.to_csv('../output/scientaists_df.tsv', sep='\t')