# 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42]) #리스트를 전달하면 시리즈가 생김
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes Mckinney', 'Creator of pandas'], index=['Person', 'Who']) # 0부터 시작하는 인덱스를 문자로 바꿔줌
print(s)

0    banana
1        42
dtype: object

# 데이터프레임 만들기

In [6]:
scientists = pd.DataFrame({'Name' : ['Rosaline Franklin', 'William Gosset'],
                          'Occupation' : ['Chemist', 'Statistician'],
                          'Born' : ['1920-07-25', '1876-06-13'],
                          'Died' : ['1958-04-16', '1937-10-16'],
                          'Age' : [37, 61]}
                          ) #딕셔너리를 전달하면 데이터프레임이 생김
print(scientists)

scientists_2 = pd.DataFrame(data = {'Occupation' : ['Chemist', 'Statistician'],
                                    'Born' : ['1920-07-25', '1876-06-13'],
                                    'Died' : ['1958-04-16', '1937-10-16'],
                                    'Age' : [37, 61]},
                            index = ['Rosaline Franklin', 'William Gosset'],
                            columns = ['Occupation' , 'Born', 'Age', 'Died'])
print(scientists_2) #index바꾸고 columns으로 순서 바꿔주기

# from collections import OrderedDict
# scientists = pd.DataFrame(OrderedDict 후 딕셔너리를 전달하면 데이터 순서를 그대로 유지한다

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

# 데이터프레임에서 시리즈 선택하기

In [8]:
#데이터 프레임에서 시리즈를 선태가려면 loc 속성에 인덱스를 전달해야돼

scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosalind Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)

first_row = scientists.loc['William Gosset'] #loc 속성에 인덱스를 전달한 것
print(type(first_row)) #정말 시리즈인지 타입으로 검사

print(first_row) #주의할 점은, Age에 61이라는 정수형을 전달해도 시리즈의 type은 오브젝트임

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [16]:
print(first_row.index) #index를 찾아서

print(first_row.values) #해당 index의 값을 불러오는 느낌

print(first_row.keys()) #keys는 속성이 아니라 메서드임. index 속성과 같은 역할을 함

print(first_row.index[0]) #첫번째 index만 추출해본것
print(first_row.keys()[0]) #바로 위와 마찬가지

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [18]:
ages = scientists['Age']
print(ages)

print(ages.mean()) #Age라는 시리즈만 뽑았으니까 통계량 계산 가능
print(ages.min())
print(ages.max())
print(ages.std())

Rosalind Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [23]:
#불린 추출은 특정 조건을 만족하는 값을 자동으로 추출

scientists = pd.read_csv('../data/scientists.csv')

ages = scientists['Age']

print(ages.max())
print(ages.mean()) #여기까진 평소 추출과 동일

print(ages[ages > ages.mean()]) #평균보다 많은 나이를 가진 사람들만 출력
print(ages > ages.mean()) #위 식 확인을 위해 참값인 index만 출력

manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values]) #내가 직접 불을 입력해서 이대로 출력하게끔

90
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [33]:
#브로드캐스팅 = 시리즈 혹은 테이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것.
#벡터 = 시리즈철머 여러 개의 값을 가진 데이터
#스칼라 = 단순 크기를 나타내는 데이터

print(ages+ages) #위에서 ages는 Age 컬럼을 추출해뒀음. 즉, 벡터+벡터
print(ages*ages)

print(ages+100) #벡터+스칼라

#만약 길이가 서로 다른 벡터들을 연산하면? 길이가 같은것만 계산되고 나머진 누락값(NaN)
print(pd.Series([1,100]))
print(ages+pd.Series([1,100]))

rev_ages = ages.sort_index(ascending=False) #인자로 False를 전달하여 인덱스 역순 정렬
#역순으로 정렬하고 벡터끼리 더해도 위와 동일한 결과를 가지고 있더라.
#벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행함

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

# 데이터프레임과 불린 추출

In [38]:
print(scientists[scientists['Age'] > scientists['Age'].mean()]) #시리즈와 마찬가지로 평균보다 높은 행만 출력

print(scientists.loc[[True, True, False, True, True, False, False, True]]) #데이터프레임의 loc 속성에 bool 벡터 전달
#이때, 데이터프레임의 index수와 bool벡터의 길이 중 짧은거로 출력

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56      Biologist
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [39]:
print(scientists*2) #시리즈와 마찬가지로 수행되며 전부 2배로 늘어남

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [48]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime) #날짜는 시간 관련 작업을 해야하니 datetime 자료형으로 바꿈

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)


scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head()) #데이터프레임에 born_dt died_dt 총 2개의 열을 추가한 것

scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists) #살아있던 날짜를 계산해서 출력

object
object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [53]:
print(scientists['Age']) #기존의 시리즈(컬럼) 확인

import random

random.seed(42) #42로 seed를 생성했으니 같은 난수 알고리즘을 사용하고 싶으면 또, 42로 생성하면 돼
random.shuffle(scientists['Age']) #shuffle에 Age 시리즈 전달
print(scientists['Age'])

0    61
1    41
2    66
3    56
4    37
5    45
6    77
7    90
Name: Age, dtype: int64
0    56
1    90
2    66
3    61
4    77
5    45
6    37
7    41
Name: Age, dtype: int64

c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Program Files\Python312\Lib\random.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [55]:
print(scientists.columns) #우선 현재 컬럼 확인

scientists_dropped = scientists.drop(['Age'], axis=1) 
print(scientists_dropped.columns) #.drop 메소드를 사용해서 [삭제할 열], axis=1 전달

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [61]:
#피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
#스프레드시트보다 더 작은 용량으로 데이터를 저장가능(to_pickle 메소드 사용)

names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle') #시리즈 피클로 저장
#피클은 바이너리 형태의 오브젝트이므로 편집기에서 열면 이상한 문자열만 나타남
#반드시 read_pickle 메서드로 읽어 들여야 해

scientists.to_pickle('../output/scientists_df.pickle') #데이터프레임 피클로 저장

scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle) #read_pickle 메서드로 Series 객체를 pickle 파일에서 불러옴

scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle) #read_pickle 메서드로 데이터프레임 객체를 pickle 파일에서 불러옴

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   56             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   66               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   77           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 파일과 TSV 파일로 저장하기

In [ ]:
#CSV 파일은 데이터를 쉼표로 구분. TSV 파일은 데이터를 탭으로 구분하여 저장

In [63]:
#to_csv 메서드로 시리즈 및 데이터프레임을 CSV 파일로 저장
#sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하면 TSV 파일로 저장가능

names.to_csv('../output/scientist_names_series.csv') #시리즈 저장
scientists.to_csv('../output/scientists_df.tsv', sep='\t') #데이터프레임 저장