In [5]:
import pandas as pd

# 1. 데이터 로드 및 기본 정보 확인
# CSV 파일 불러오기
df=pd.read_csv("C:/Users/82105/Desktop/KUGGLE/과제/tested.csv")

In [7]:
# 피처 추출 (독립변수 확인해보기)
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
# 데이터프레임의 상위 5개 행을 출력하여 데이터의 기본 구조를 확인하시오.
# (빈칸: df.______())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
# 2. 피처 엔지니어링 1: 가족 수 변수 생성
# SibSp (형제자매 / 배우자 수) + Parch (부모 / 자녀 수) 값을 더하여 새로운 가족 수 변수를 만드시오.
# 변수 이름은 'Family_Size'로 지정하세요.
df['Family_Size']=df['SibSp']+df['Parch']

# Family_Size 변수의 분포를 확인하고, 전체적인 분포가 어떤지 설명하시오.
print(df['Family_Size'].value_counts())
#감소함

Family_Size
0     253
1      74
2      57
3      14
4       7
6       4
10      4
5       3
7       2
Name: count, dtype: int64

In [28]:
# 3. 피처 엔지니어링 2: 이름에서 호칭 추출
# 이름(`Name`)에서 Mr, Mrs, Miss 등 호칭을 추출하여 새로운 'Title' 변수를 생성하세요.
# 힌트: 이름 문자열에서 콤마(,)와 점(.) 사이의 텍스트를 추출하면 됨.
# (빈칸: df['Title'] = df['Name'].str.extract('_____', expand=False))
df['Title']=df['Name'].str.extract('([A-Za-z]+)\\.', expand=False)
# 생성된 Title 변수의 상위 5개 값을 출력하고, 다양한 호칭이 어떻게 구성되어 있는지 확인하세요.
print(df['Title'].head())
print(df['Title'].value_counts())

0     Mr
1    Mrs
2     Mr
3     Mr
4    Mrs
Name: Title, dtype: object
Title
Mr        240
Miss       78
Mrs        72
Master     21
Col         2
Rev         2
Ms          1
Dr          1
Dona        1
Name: count, dtype: int64

In [34]:
# 4. 피처 엔지니어링 3: 나이 그룹화
# Age 변수의 결측값을 중간값으로 채우고, 나이 범주를 나눠서 'Age_Group' 변수를 생성하세요.
# 예: 0-12 (Child), 13-18 (Teenager), 19-35 (Young_Adult), 36-60 (Adult), 60 이상 (Senior)
# (빈칸: df['Age'] = df['Age'].fillna(df['______.median()']))
df['Age'] = df['Age'].fillna(df['Age'].median())
# 나이를 그룹화하는 함수 작성


# age_group 함수를 사용하여 새로운 'Age_Group' 변수 생성
# (빈칸: df['Age_Group'] = df['Age'].apply(____))
df['Age_Group'] = df['Age'].apply(lambda x: 'Child' if x<=12 else('Teenager' if x<=18 else('Young_Adult' if x<=35 else('Adult' if x<=60 else'Senior'))))
# 생성된 Age_Group 변수의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Age_Group'].value_counts())

Age_Group
Young_Adult    259
Adult           94
Teenager        29
Child           25
Senior          11
Name: count, dtype: int64

In [36]:
# 5. 피처 엔지니어링 4: 요금 범주화
# Fare 변수를 기준으로 값이 높은 승객과 낮은 승객을 구분하기 위해 4개의 구간으로 나누어 'Fare_Bin' 변수를 생성하세요.
# 힌트: pd.qcut() 함수를 사용하여 구간 나누기
# (빈칸: df['Fare_Bin'] = pd.qcut(df['____'], _____))
df['Fare_Bin'] = pd.qcut(df['Fare'], 4)
# Fare_Bin 변수의 빈도를 출력하고, 값의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Fare_Bin'].value_counts())

Fare_Bin
(-0.001, 7.896]    114
(14.454, 31.5]     105
(31.5, 512.329]    102
(7.896, 14.454]     96
Name: count, dtype: int64

In [38]:
# 6. 피처 엔지니어링 5: 객실 여부
# Cabin 변수가 결측인 경우와 아닌 경우를 구분하여 'Cabin_Known' 변수를 생성하세요.
# Cabin 값이 존재하면 1, 결측이면 0으로 설정하세요.
# (빈칸: df['Cabin_Known'] = df['Cabin'].notna().astype(____))
df['Cabin_Known'] = df['Cabin'].notna().astype(int)

# 생성된 Cabin_Known 변수의 빈도를 출력하고, 객실 여부와 생존율 간의 관계를 분석하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Cabin_Known'].value_counts())

Cabin_Known
0    327
1     91
Name: count, dtype: int64

In [46]:
# 7. 피처 엔지니어링 6: 승선 지역
# 'Embarked' 변수를 더미 변수로 변환하여 승선 지역(S, C, Q)을 기준으로 각각의 더미 변수를 생성하세요.
# (빈칸: df = pd.get_dummies(df, columns=['____'], drop_first=True))
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
# 변환된 데이터프레임의 상위 5개 행을 출력하여 더미 변수 생성 결과를 확인하세요.
# (빈칸: df.______())
df.head()

KeyError: "None of [Index(['Embarked'], dtype='object')] are in the [columns]"

## 문제

### 1. 피처엔지니어링을 통해 기대할 수 있는 효과는 무엇인지 설명하시오.

1.모델 성능 향상 : 피처를 생성하고 변환함으로써 정확도를 높이고 불필요한 피처를 삭제함으로써 모델의 복잡도를 감소시킬 수 있다.
2.과적합 방지 : 정규화 효과로 특정 모델에 지나치게 의존하지 않도록 한다.
3.데이터 활용 효율성 증대 : 차원을 축소시키고 결측치나 이상치를 다룸으로써 성능을 향상시킨다.

### 2. 새로 생성한 변수에 대해 간단히 설명하고 모델의 성능이 향상된다면 그 이유가 무엇일지 설명하시오.

Family_Size: SibSp (형제자매 / 배우자 수) + Parch (부모 / 자녀 수)으로 승객의 가족 크기를 나타낸다. 따라서 가족의 크기에 따른 생존율을 분석할 수 있다.

피처 엔지니어링을 통해 데이터 속 의미있는 정보를 만들어내었고, 그렇게 만들어진 변수들 생존에 미치는 영향에 대해 분석할 수 있도록 도와주며 결과적으로 모델 선능 향상에 도움을 줍니다.