# 06-1. 누락값이란?

### 1) 누락값과 누락값 확인하기

In [1]:
from numpy import NaN, NAN, nan
import pandas as pd

In [2]:
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')
# 0, '', True, False 등 모두 아님. - missing value

False
False
False
False

In [3]:
print(NaN==NaN)
print(NaN==nan)
print(NaN==NAN)
print(nan==NAN)

False
False
False
False

In [4]:
print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [5]:
print(pd.notnull(NaN))
print(pd.notnull(nan))
print(pd.notnull(NAN))

False
False
False

### 2) 누락값이 생기는 이유

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###### ① visited & survey dataframe 병합

In [7]:
visited = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kuggle/data/data/survey_visited.csv')
survey = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kuggle/data/data/survey_survey.csv')

In [8]:
print(visited) # dated col - NaN 존재

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [9]:
print(survey) # person col - NaN 존재

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [10]:
print(visited.isnull().sum())
print('--------------------')
print(survey.isnull().sum())

# 어떤 column에 missing value 있는지 확인 가능 - 각 col별로 missing value
# sum을 하지 않으면, dataframe 내 모든 element들이 True, False로 표시

ident    0
site     0
dated    1
dtype: int64
--------------------
taken      0
person     2
quant      0
reading    0
dtype: int64

In [11]:
visited_survey = pd.merge(visited, survey, left_on='ident', right_on='taken')
# visited_survey1= visited.merge(survey, left_on='ident', right_on='taken')

In [12]:
visited_survey

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

##### ② NaN, nan, NAN 데이터 입력

In [13]:
num_legs = pd.Series({'goat': 4, 'amoeba': nan})
print(num_legs)
print(type(num_legs)) #series

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [14]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'missing': [NaN, nan]}) #모두 NaN으로 표현

print(scientists)
print(type(scientists)) #dataframe

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

##### ③ 범위 지정하면서 데이터 추출

In [15]:
gapminder = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kuggle/data/data/gapminder.tsv', sep='\t')

In [16]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [17]:
gapminder.isnull().sum()

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
dtype: int64

In [18]:
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp) #1952~2007

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [20]:
'''
print(life_exp.loc[range(2000, 2010), ])
'''
# row만 지정 - 모든 col 표시
# 오류 발생
# 빈 DataFrame 생성


import pandas as pd
import numpy as np

# life_exp이 Series라고 가정
df = pd.DataFrame()

for i in range(2000, 2010):
    try:
        df = pd.concat([df, pd.DataFrame([life_exp.loc[i]], index=[i])])
    except KeyError:
        df = pd.concat([df, pd.DataFrame([np.nan], index=[i])])

print(df)

              0
2000        NaN
2001        NaN
2002  65.694923
2003        NaN
2004        NaN
2005        NaN
2006        NaN
2007  67.007423
2008        NaN
2009        NaN

In [21]:
import pandas as pd
import numpy as np

# life_exp이 Series라고 가정
df = pd.DataFrame(columns=['year', 'value'])

for i in range(2000, 2010):
    try:
        # Series를 DataFrame으로 변환하고 'year' 열을 추가
        row = pd.DataFrame({'year': [i], 'value': [life_exp.loc[i]]})
    except KeyError:
        # 해당 연도가 없을 때 NaN으로 처리
        row = pd.DataFrame({'year': [i], 'value': [np.nan]})

    df = pd.concat([df, row], ignore_index=True)

print(df)

   year      value
0  2000        NaN
1  2001        NaN
2  2002  65.694923
3  2003        NaN
4  2004        NaN
5  2005        NaN
6  2006        NaN
7  2007  67.007423
8  2008        NaN
9  2009        NaN

<ipython-input-21-e85e46242c83>:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, row], ignore_index=True)

In [ ]:
'''
import pandas as pd

# 예제 데이터를 생성
data = {
    1952: 49.057620,
    1957: 51.507401,
    1962: 53.609249,
    1997: 65.014676,
    2002: 65.694923,
    2007: 67.007423
}

# Series 생성
life_exp = pd.Series(data, name="LifeExp")

# 인덱스에 이름 설정
life_exp.index.name = 'year'

# Series 출력
print(life_exp)

'''

In [22]:
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 3) 누락값의 개수

In [23]:
ebola = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kuggle/data/data/country_timeseries.csv')

In [26]:
print(ebola.head())

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

   Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
0            NaN            NaN                 NaN          NaN         NaN
1            NaN            NaN                 NaN          NaN         NaN
2            NaN            NaN                 NaN          NaN         NaN
3            NaN            NaN                 NaN          NaN         NaN
4            NaN            NaN                 NaN          NaN         NaN

   Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
0         1786.0             NaN              2977.0             NaN
1         1781.0             NaN              2943.0             NaN
2         1767.0          3496.0              2915.0             NaN
3            NaN          3496.0                 NaN             NaN
4         1739.0          3471.0              2827.0             NaN

   Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0             NaN                  NaN           NaN          NaN
1             NaN                  NaN           NaN          NaN
2             NaN                  NaN           NaN          NaN
3             NaN                  NaN           NaN          NaN
4             NaN                  NaN           NaN          NaN

##### ① shape[ ]-count( )

In [24]:
print(ebola.count()) #누락값이 있는 것은 122개보다 적음.

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [29]:
num_rows = ebola.shape[0]
num_rows

122

In [30]:
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

##### ② np.count_nonzero(a.isnull())
True = 1 → count   
False = 0

In [31]:
print(np.count_nonzero(ebola.isnull()))

1214

In [32]:
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

29

##### ③ value_counts(dropna=False)

In [33]:
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

Cases_Guinea
NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: count, dtype: int64

### 4) 누락값 처리하기

In [36]:
print(ebola.fillna(0).head().iloc[:,0:5]) # 누락값을 0으로 변경

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0

In [37]:
print(ebola.fillna(method='ffill').head().iloc[:,0:5])
# 누락값이 나타나기 전의 행의 값으로 누락값 변경

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0

<ipython-input-37-62876a320e9e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(ebola.fillna(method='ffill').head().iloc[:,0:5])

In [38]:
print(ebola.fillna(method='bfill').head().iloc[:,0:5])
# 누락값이 나타난 후의 행의 값으로 누락값 변경

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0

<ipython-input-38-9fc443838f4c>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(ebola.fillna(method='bfill').head().iloc[:,0:5])

In [39]:
print(ebola.interpolate().head().iloc[:,0:5])
# 누락값 양쪽에 있는 값을 이용하여 중간값으로 누락값 변경

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0

<ipython-input-39-dcd603f676ec>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  print(ebola.interpolate().head().iloc[:,0:5])

In [40]:
print(ebola.shape)
print()

ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(122, 18)

(1, 18)

##### 누락값이 포함된 데이터 계산하기

In [41]:
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']
# 새로운 column 형성
# 셋 중에 누락값이 하나라도 있으면, NaN으로 도출

ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']]
print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [42]:
print(ebola.Cases_Guinea.sum(skipna = True)) # 누락값 무시하여 column total value 계산
print()
print(ebola.Cases_Guinea.sum(skipna = False)) # 누락값 포함하여 계산 - NaN

84729.0

nan